@import url('https://fonts.googleapis.com/css?family=Pattaya');
$main-font:'Pattaya', sans-serif;

.main-sec {
    font-family: $main-font;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-bottom: 4rem;
}

.ui-sec {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    > svg {
        margin-left: 4rem;
        padding: 25px;
        > path {
            fill: none
        }
    }
}

