.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 1.5rem;
    width: 40%;
}

.eyeInput {
    display: flex;
    align-items: center;
    input {
        margin-bottom: 0;
    }
}

p {
    margin: 0;
    font-size: 1rem;
}